<a href="https://colab.research.google.com/github/Sethicus-Millicus/basketball_data/blob/web-scraping-edits/pull_college_gamelogs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web scraping Tutorial

* This notebook is a quick reference on how to use beautifulsoup4 to download data from websites- specifically basketball-reference.com

In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from urllib.request import urlopen
import os

In [36]:
url = 'https://www.sports-reference.com/cbb/players/matthew-hurt-1/gamelog/2021'
page = requests.get(url)
page

In [37]:
html = urlopen(url)
html

In [38]:
soup = BeautifulSoup(html)
#print(soup.prettify())

In [39]:
# using findAll toget the column headers

soup.findAll('thead')

headers = [th.getText() for th in soup.findAll('thead')[0].findAll('th')]
headers

['Rk',
 'Date',
 'School',
 '\xa0',
 'Opponent',
 'Type',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '2P',
 '2PA',
 '2P%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [40]:
headers.remove('Rk')
#remove extra header
headers

['Date',
 'School',
 '\xa0',
 'Opponent',
 'Type',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '2P',
 '2PA',
 '2P%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [41]:
#stats = [[td.gettext() for td in soup.findAll('td', {'data-stat': stat})] for stat in headers]
# shrink it down to just the data table stats

# this table_body returns as a list
#table_body = soup.findAll('tbody')
#table_body

#def table_body(soup):
   # return soup.has_attr('data-stat')
#rows = table_body.find_all('tr')

table_body = soup.tbody
#table_body

rows = table_body.findAll('tr')
#rows

In [42]:
#rk = soup.find_all(attrs={'data-stat':'ranker'})
#rk

In [43]:
player_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
#player_stats

In [44]:
gamelog = pd.DataFrame(player_stats, columns = headers)
#gamelog

In [45]:
gamelog.head()

,Date,School,,Opponent,Type,,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2020-11-28,Duke,,Coppin State,REG,W,1,29,5,11,...,.000,2,5,7,1,1,0,1,4,12
1,2020-12-01,Duke,,Michigan State,REG,L,1,36,6,14,...,1.000,2,11,13,0,0,0,1,2,21
2,2020-12-04,Duke,,Bellarmine,REG,W,1,32,9,12,...,,0,6,6,2,1,1,1,3,24
3,2020-12-08,Duke,,Illinois,REG,L,1,30,8,15,...,.600,3,4,7,0,1,1,0,4,19
4,2020-12-16,Duke,@,Notre Dame,REG,W,1,38,8,17,...,1.000,1,4,5,3,1,2,1,2,18

In [46]:
gamelog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      13 non-null     object
 1   School    13 non-null     object
 2             13 non-null     object
 3   Opponent  13 non-null     object
 4   Type      13 non-null     object
 5             13 non-null     object
 6   GS        13 non-null     object
 7   MP        13 non-null     object
 8   FG        13 non-null     object
 9   FGA       13 non-null     object
 10  FG%       13 non-null     object
 11  2P        13 non-null     object
 12  2PA       13 non-null     object
 13  2P%       13 non-null     object
 14  3P        13 non-null     object
 15  3PA       13 non-null     object
 16  3P%       13 non-null     object
 17  FT        13 non-null     object
 18  FTA       13 non-null     object
 19  FT%       13 non-null     object
 20  ORB       13 non-null     object
 21  DRB       13 non-null     object
 22  TRB       13 non-null     object
 23  AST       13 non-null     object
 24  STL       13 non-null     object
 25  BLK       13 non-null     object
 26  TOV       13 non-null     object
 27  PF        13 non-null     object
 28  PTS       13 non-null     object
dtypes: object(29)
memory usage: 3.1+ KB

In [47]:
# Need to convert data type to int



gamelog = gamelog.apply(pd.to_numeric, errors='ignore')
gamelog['Date'] = pd.to_datetime(gamelog['Date'])
gamelog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      13 non-null     datetime64[ns]
 1   School    13 non-null     object
 2             13 non-null     object
 3   Opponent  13 non-null     object
 4   Type      13 non-null     object
 5             13 non-null     object
 6   GS        13 non-null     int64
 7   MP        13 non-null     int64
 8   FG        13 non-null     int64
 9   FGA       13 non-null     int64
 10  FG%       13 non-null     float64
 11  2P        13 non-null     int64
 12  2PA       13 non-null     int64
 13  2P%       13 non-null     float64
 14  3P        13 non-null     int64
 15  3PA       13 non-null     int64
 16  3P%       13 non-null     float64
 17  FT        13 non-null     int64
 18  FTA       13 non-null     int64
 19  FT%       12 non-null     float64
 20  ORB       13 non-null     int64
 21  DRB       13 non-null     int64
 22  TRB       13 non-null     int64
 23  AST       13 non-null     int64
 24  STL       13 non-null     int64
 25  BLK       13 non-null     int64
 26  TOV       13 non-null     int64
 27  PF        13 non-null     int64
 28  PTS       13 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(19), object(5)
memory usage: 3.1+ KB

In [48]:
gamelog["FPTS"] = (gamelog.PTS) + (gamelog.TRB*1.2) + (gamelog.AST*1.5) + (gamelog.STL*3) + (gamelog.BLK*3) + (gamelog.TOV*-1)

In [49]:
gamelog.columns

Index(['Date', 'School', ' ', 'Opponent', 'Type', ' ', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FPTS'],
      dtype='object')

In [50]:
# change column name
#column_names = {'': 'Set', '.1': 'W_L'}
#gamelog.columns = gamelog.columns.str.strip()
#gamelog = gamelog.rename(columns = column_names)
#gamelog.columns


gamelog.columns.values[2] = "game_loc"
gamelog.columns.values[5] = "W_L"
gamelog.columns

Index(['Date', 'School', 'game_loc', 'Opponent', 'Type', 'W_L', 'GS', 'MP',
       'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'FPTS'],
      dtype='object')

In [51]:
# replace blank spaces with nan
gamelog = gamelog.replace(r'^\s*$', np.nan, regex=True)
gamelog.head()

,Date,School,game_loc,Opponent,Type,W_L,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FPTS
0,2020-11-28,Duke,NaN,Coppin State,REG,W,1,29,5,11,...,2,5,7,1,1,0,1,4,12,23.9
1,2020-12-01,Duke,NaN,Michigan State,REG,L,1,36,6,14,...,2,11,13,0,0,0,1,2,21,35.6
2,2020-12-04,Duke,NaN,Bellarmine,REG,W,1,32,9,12,...,0,6,6,2,1,1,1,3,24,39.2
3,2020-12-08,Duke,NaN,Illinois,REG,L,1,30,8,15,...,3,4,7,0,1,1,0,4,19,33.4
4,2020-12-16,Duke,@,Notre Dame,REG,W,1,38,8,17,...,1,4,5,3,1,2,1,2,18,36.5

In [53]:
gamelog['Home'] = [1 if pd.isna(gamelog.game_loc[gm])==True else 0 for gm in range(len(gamelog))]
gamelog.drop(['game_loc'], inplace=True, axis=1)
gamelog.head()

,Date,School,Opponent,Type,W_L,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FPTS,Home
0,2020-11-28,Duke,Coppin State,REG,W,1,29,5,11,0.455,...,5,7,1,1,0,1,4,12,23.9,1
1,2020-12-01,Duke,Michigan State,REG,L,1,36,6,14,0.429,...,11,13,0,0,0,1,2,21,35.6,1
2,2020-12-04,Duke,Bellarmine,REG,W,1,32,9,12,0.750,...,6,6,2,1,1,1,3,24,39.2,1
3,2020-12-08,Duke,Illinois,REG,L,1,30,8,15,0.533,...,4,7,0,1,1,0,4,19,33.4,1
4,2020-12-16,Duke,Notre Dame,REG,W,1,38,8,17,0.471,...,4,5,3,1,2,1,2,18,36.5,0

In [ ]:
# no need for game started count as this already keeps track
#gamelog[''] = [1 if pd.isna(df_embiid.G[gm])==False else 0 for gm in range(len(df_embiid))]
#df_embiid.head()

In [54]:
# add back-to-back indicator
# df_embiid['back_to_back'] = [1 if ]
#df_embiid['Date'] = pd.to_datetime(df_embiid['Date'])

# making column out of the difference in days. 
#df_embiid['back_to_back'] = pd.to_numeric(df_embiid.Date.dt.day.diff(), downcast='integer', errors='coerce')


# need to make a column where 1 for back to back and zero for not
#df_embiid['back_to_back'] = [1 if (df_embiid.back_to_back[x] == 1.0) == True else 0 for x in range(len(df_embiid))]




#df_embiid.head()

In [57]:
# getting wins into binary
gamelog['W'] = [1 if gamelog['W_L'][gm] == 'W' else 0 for gm in range(len(gamelog))]
sum(gamelog.W)

7

In [58]:
# function to get normalized stats
def stat_per_time(stat, minutes, per=36):
  if minutes == 0:
    return 0
  else:
    val_min = stat/minutes
    return round(val_min * per, 1)

# I want to see the normalized stat for fantasy points. but this can be used for any column. 

gamelog['fpts_per_36'] = gamelog.apply(lambda row: stat_per_time(stat = row['FPTS'], minutes = row['MP']), axis=1)

In [59]:
gamelog

,Date,School,Opponent,Type,W_L,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,FPTS,Home,W,fpts_per_36
0,2020-11-28,Duke,Coppin State,REG,W,1,29,5,11,0.455,...,1,1,0,1,4,12,23.9,1,1,29.7
1,2020-12-01,Duke,Michigan State,REG,L,1,36,6,14,0.429,...,0,0,0,1,2,21,35.6,1,0,35.6
2,2020-12-04,Duke,Bellarmine,REG,W,1,32,9,12,0.750,...,2,1,1,1,3,24,39.2,1,1,44.1
3,2020-12-08,Duke,Illinois,REG,L,1,30,8,15,0.533,...,0,1,1,0,4,19,33.4,1,0,40.1
4,2020-12-16,Duke,Notre Dame,REG,W,1,38,8,17,0.471,...,3,1,2,1,2,18,36.5,0,1,34.6
5,2021-01-06,Duke,Boston College,REG,W,1,32,7,15,0.467,...,1,0,1,2,4,17,32.7,1,1,36.8
6,2021-01-09,Duke,Wake Forest,REG,W,1,31,10,15,0.667,...,2,3,0,3,4,26,42.2,1,1,49.0
7,2021-01-12,Duke,Virginia Tech,REG,L,1,38,8,16,0.500,...,0,1,2,2,3,20,40.2,0,0,38.1
8,2021-01-19,Duke,Pitt,REG,L,1,30,5,12,0.417,...,4,0,1,0,3,13,29.2,0,0,35.0
9,2021-01-23,Duke,Louisville,REG,L,1,35,9,13,0.692,...,0,0,0,3,5,24,30.6,0,0,31.5
10,2021-01-26,Duke,Georgia Tech,REG,W,1,38,6,11,0.545,...,1,0,0,2,0,17,26.1,1,1,24.7
11,2021-01-30,Duke,Clemson,REG,W,1,28,4,7,0.571,...,3,0,0,2,3,13,20.3,1,1,26.1
12,2021-02-01,Duke,Miami (FL),REG,L,1,38,7,15,0.467,...,0,0,1,1,3,21,26.6,0,0,25.2

In [60]:
gamelog.to_csv("cbb_gamelogs/matthew_hurt_gamelog.csv")

In [61]:
df = pd.read_csv("cbb_gamelogs/matthew_hurt_gamelog.csv")

In [62]:
df

,Unnamed: 0,Date,School,Opponent,Type,W_L,GS,MP,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,FPTS,Home,W,fpts_per_36
0,0,2020-11-28,Duke,Coppin State,REG,W,1,29,5,11,...,1,1,0,1,4,12,23.9,1,1,29.7
1,1,2020-12-01,Duke,Michigan State,REG,L,1,36,6,14,...,0,0,0,1,2,21,35.6,1,0,35.6
2,2,2020-12-04,Duke,Bellarmine,REG,W,1,32,9,12,...,2,1,1,1,3,24,39.2,1,1,44.1
3,3,2020-12-08,Duke,Illinois,REG,L,1,30,8,15,...,0,1,1,0,4,19,33.4,1,0,40.1
4,4,2020-12-16,Duke,Notre Dame,REG,W,1,38,8,17,...,3,1,2,1,2,18,36.5,0,1,34.6
5,5,2021-01-06,Duke,Boston College,REG,W,1,32,7,15,...,1,0,1,2,4,17,32.7,1,1,36.8
6,6,2021-01-09,Duke,Wake Forest,REG,W,1,31,10,15,...,2,3,0,3,4,26,42.2,1,1,49.0
7,7,2021-01-12,Duke,Virginia Tech,REG,L,1,38,8,16,...,0,1,2,2,3,20,40.2,0,0,38.1
8,8,2021-01-19,Duke,Pitt,REG,L,1,30,5,12,...,4,0,1,0,3,13,29.2,0,0,35.0
9,9,2021-01-23,Duke,Louisville,REG,L,1,35,9,13,...,0,0,0,3,5,24,30.6,0,0,31.5
10,10,2021-01-26,Duke,Georgia Tech,REG,W,1,38,6,11,...,1,0,0,2,0,17,26.1,1,1,24.7
11,11,2021-01-30,Duke,Clemson,REG,W,1,28,4,7,...,3,0,0,2,3,13,20.3,1,1,26.1
12,12,2021-02-01,Duke,Miami (FL),REG,L,1,38,7,15,...,0,0,1,1,3,21,26.6,0,0,25.2